!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sony World Photography Awards
    %style{:src => "styles.sass"}
  %body
    .container
      .left-side
      .right-side
        .title
          Sony World
          %br/
          %span{:style => "font-weight: bold;;"} Photography
          %br/
          Awards
        .text{:style => "font-weight: lighter;"}
          WE ARE DELIGHTED TO REVEAL THE
          %br/
          WINNERS OF THE 2018 SONY WORLD
          %br/
          PHOTOGRAPHY AWARDS.

